<form  class="form-signin" #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit(userForm)">
    <h1 class="h3 mb-3 font-weight-normal text-center">Please log in</h1>
  
    <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
    <div class="form-group">
      <input type="text" name="username" class="form-control" [(ngModel)]="username" #name="ngModel" placeholder="Username" 
      [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid}"required>
      <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
        <p *ngIf="name.errors.required">Username is required</p>
      </div>
    </div>
  
    <div class="form-group">
      <input type="password" class="form-control" name="password" [(ngModel)]="password" #passwor="ngModel" placeholder="Password" required
      [ngClass]="{ 'is-invalid': userForm.submitted && passwor.invalid}" minlength="8">
      <div *ngIf="userForm.submitted && passwor.invalid" class="invalid-feedback">
        <div *ngIf="passwor.errors.required">Password is required</div>
        <div *ngIf="passwor.errors.minlength">Password should be at least 8 characters long</div>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-block">Login</button>
    </div>
  </form>