

<form  class="form-signin" #userForm="ngForm" (ngSubmit)="userForm.form.valid && passwordAreTheSame() && onSubmit(userForm)">


  <div class="alert alert-success" *ngIf='message'>{{message}}</div>
  <div class="alert alert-danger" *ngIf='validationError'>{{validationError}}</div>
  <div class="alert alert-warning" *ngIf='errorMessage'>{{errorMessage}}</div>
  <div class="form-group">
    <input type="password" name="currentPassword" class="form-control" [(ngModel)]="currentPassword" #CurrentPassword="ngModel" placeholder="Old Password"
    [ngClass]="{ 'is-invalid': userForm.submitted && CurrentPassword.invalid}"required>
    <div class="invalid-feedback" *ngIf="userForm.submitted && CurrentPassword.invalid">
      <p *ngIf="CurrentPassword.errors.required">Old Password is required</p>
    </div>
  </div>

  <div class="form-group">
    <input type="password" class="form-control" name="newPassword" [(ngModel)]="newPassword" #NewPassword="ngModel" placeholder="New Password" required
    [ngClass]="{ 'is-invalid': userForm.submitted && NewPassword.invalid}" minlength="8">
    <div *ngIf="userForm.submitted && NewPassword.invalid" class="invalid-feedback">
      <div *ngIf="NewPassword.errors.required">New Password is required</div>
      <div *ngIf="NewPassword.errors.minlength">Password should be at least 8 characters long</div>
    </div>

  </div>

  <div class="form-group">
    <input type="password" class="form-control" name="renteredPassword" [(ngModel)]="renteredPassword" #RenteredPassword="ngModel" placeholder="Re-enter New Password" required
    [ngClass]="{ 'is-invalid': userForm.submitted && RenteredPassword.value != NewPassword.value && RenteredPassword.invalid}" minlength="8">
    <div *ngIf="userForm.submitted &&  RenteredPassword.value != NewPassword.value" class="invalid-feedback">
      <div *ngIf="RenteredPassword.value != NewPassword.value">Re-enterd password must be the same</div>
    </div>

  </div>

  <div class="form-group">
    <button class="btn btn-danger btn-block">Change Password</button>
  </div>
</form>
